:host {
    display: block;
    width: 250px;
  }
  
  mat-dialog-content {
    margin-top: 10px;
  }
  
  mat-dialog-actions {
    justify-content: flex-end;
    margin-top: 20px;
  }

  .mat-dialog-actions button:first-child:hover {
    background-color: #87CEEB;
  }
  